* {
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    display: inline-block;
}


body {
    background-color: #007AFF!important;
    // min-height: 100vh;
}